
<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu" onclick="document.getElementById('navmenu-toggle').click();">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="counter" Icon="@(new Icons.Regular.Size20.NumberSymbolSquare())" IconColor="Color.Accent">Counter</FluentNavLink>
            <FluentNavLink Href="weather" Icon="@(new Icons.Regular.Size20.WeatherPartlyCloudyDay())" IconColor="Color.Accent">Weather</FluentNavLink>
            <FluentNavLink Href="component1" Icon="@(new Icons.Regular.Size20.Calendar())" IconColor="Color.Accent">Meeting Date</FluentNavLink>
            <FluentNavLink Href="component2" Icon="@(new Icons.Regular.Size20.AppsList())" IconColor="Color.Accent">To-do Tasks</FluentNavLink>
            <FluentNavLink Href="component3" Icon="@(new Icons.Regular.Size20.People())" IconColor="Color.Accent">Attendance</FluentNavLink>
            <FluentNavLink Href="component4" Icon="@(new Icons.Regular.Size20.Album())" IconColor="Color.Accent">Meeting Minute</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code {
    private bool expanded = true;

}